---
import AboutMe from '../components/AboutMe.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About me" description="">
  <main>
    <AboutMe />
  </main>
</BaseLayout>
