---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';

const steps = [
  {
    title: 'Télécom SudParis',
    description: 'Major in Statistical Modelling and Applications',
    date: '2015 - 2018',
    image: '/images/tsp.webp',
  },
  {
    title: 'Dublin City University',
    description: 'Data Science, Cybersecurity, Cloud technologies',
    date: '2017 - 2017',
    image: '/images/dcu.svg',
  },
  {
    title: 'Mention',
    description: 'Data Scientist: sentiment analysis, entity recognition, knowledge graph',
    date: '2018 - 2020',
    image: '/images/mention.webp',
  },
  {
    title: 'Ornikar',
    description: 'Data Scientist: dbt stack, driving theory exam success prediction',
    date: '2020 - 2022',
    image: '/images/ornikar.webp',
  },
  {
    title: 'Freelance Republik',
    description: 'Fullstack JS Developer: Vue, Node, GraphQL',
    date: '2023 - currently',
    image: '/images/frk.webp',
  },
];
---

<Base meta_title="About">
  <Page title="About me">
    <section class="body-font text-gray-600">
      <div class="not-prose container mx-auto flex flex-wrap px-5 py-6">
        {
          steps.map((step, i) => (
            <div class="relative mx-auto flex pb-6 pt-2 sm:items-center md:w-2/3">
              <div class="absolute inset-0 flex h-full w-6 items-center justify-center">
                <div class="pointer-events-none h-full w-1 bg-gray-200" />
              </div>
              <div class="title-font relative z-10 mt-2 inline-flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-full bg-yellow-300 text-sm font-medium text-black dark:bg-yellow-500 dark:text-white sm:mt-0">
                {i + 1}
              </div>
              <div class="flex flex-col items-start pl-6 sm:flex-row sm:items-center md:pl-8">
                <img class="h-24 w-24 object-scale-down" src={step.image} />
                <div class="my-3 sm:mt-0 sm:pl-6">
                  <h2 class="title-font text-xl font-medium text-gray-900">{step.title}</h2>
                  <p class="leading-relaxed">{step.description}</p>
                  <span class="relative z-10 rounded-full bg-yellow-50 px-3 py-1.5 text-sm font-medium capitalize text-yellow-600 hover:bg-yellow-50 dark:bg-yellow-500 dark:text-yellow-100">
                    {step.date}
                  </span>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </Page>
</Base>
