---
import Timeline from './Timeline.astro';
---

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap w-full mb-10">
      <div class="w-full mb-6 lg:w-1/2 lg:mb-0">
        <h1
          class="mb-2 text-2xl font-medium text-gray-900 sm:text-3xl title-font"
        >
          My experience
        </h1>
        <div class="w-20 h-1 bg-yellow-300 rounded"></div>
      </div>
      <p class="w-full leading-relaxed text-gray-500 lg:w-1/2"></p>
    </div>
    <Timeline />
  </div>
</section>
