---
---

<section class="text-gray-600 body-font">
  <div class="container flex flex-wrap px-5 py-6 mx-auto">
    <div class="relative flex pt-10 pb-20 mx-auto sm:items-center md:w-2/3">
      <div class="absolute inset-0 flex items-center justify-center w-6 h-full">
        <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mt-10 text-sm font-medium text-white bg-yellow-300 rounded-full sm:mt-0 title-font"
      >
        1
      </div>
      <div
        class="flex flex-col items-start flex-grow pl-6 md:pl-8 sm:items-center sm:flex-row"
      >
        <img class="object-scale-down w-24 h-24" src="/images/tsp.png" />
        <div class="flex-grow mt-6 sm:pl-6 sm:mt-0">
          <h2 class="mb-1 text-xl font-medium text-gray-900 title-font">
            Télécom SudParis
          </h2>
          <p class="leading-relaxed">
            Major in Statistical Modelling and Applications
          </p>
          <span
            class="inline-block text-xs font-medium tracking-widest text-yellow-500 rounded bg-yellow-50 my-"
          >
            2015 - 2018
          </span>
        </div>
      </div>
    </div>
    <div class="relative flex pb-20 mx-auto sm:items-center md:w-2/3">
      <div class="absolute inset-0 flex items-center justify-center w-6 h-full">
        <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mt-10 text-sm font-medium text-white bg-yellow-300 rounded-full sm:mt-0 title-font"
      >
        2
      </div>
      <div
        class="flex flex-col items-start flex-grow pl-6 md:pl-8 sm:items-center sm:flex-row"
      >
        <img class="object-scale-down w-24 h-24" src="/images/dcu.svg" />
        <div class="flex-grow mt-6 sm:pl-6 sm:mt-0">
          <h2 class="mb-1 text-xl font-medium text-gray-900 title-font">
            Dublin City University
          </h2>
          <p class="leading-relaxed">
            Data Science, Cybersecurity, Cloud technologies
          </p>
          <span
            class="inline-block text-xs font-medium tracking-widest text-yellow-500 rounded bg-yellow-50 my-"
          >
            2017 - 2017
          </span>
        </div>
      </div>
    </div>
    <div class="relative flex pb-20 mx-auto sm:items-center md:w-2/3">
      <div class="absolute inset-0 flex items-center justify-center w-6 h-full">
        <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mt-10 text-sm font-medium text-white bg-yellow-300 rounded-full sm:mt-0 title-font"
      >
        3
      </div>
      <div
        class="flex flex-col items-start flex-grow pl-6 md:pl-8 sm:items-center sm:flex-row"
      >
        <img class="object-scale-down w-24 h-24" src="/images/mention.png" />
        <div class="flex-grow mt-6 sm:pl-6 sm:mt-0">
          <h2 class="mb-1 text-xl font-medium text-gray-900 title-font">
            Mention
          </h2>
          <p class="leading-relaxed">
            Data Scientist: sentiment analysis, entity recognition, knowledge
            graph
          </p>
          <span
            class="inline-block text-xs font-medium tracking-widest text-yellow-500 rounded bg-yellow-50 my-"
          >
            2018 - 2020
          </span>
        </div>
      </div>
    </div>
    <div class="relative flex pb-10 mx-auto sm:items-center md:w-2/3">
      <div class="absolute inset-0 flex items-center justify-center w-6 h-full">
        <div class="w-1 h-full bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="relative z-10 inline-flex items-center justify-center flex-shrink-0 w-6 h-6 mt-10 text-sm font-medium text-white bg-yellow-300 rounded-full sm:mt-0 title-font"
      >
        4
      </div>
      <div
        class="flex flex-col items-start flex-grow pl-6 md:pl-8 sm:items-center sm:flex-row"
      >
        <img class="object-scale-down w-24 h-24" src="/images/ornikar.png" />
        <div class="flex-grow mt-6 sm:pl-6 sm:mt-0">
          <h2 class="mb-1 text-xl font-medium text-gray-900 title-font">
            Ornikar
          </h2>
          <p class="leading-relaxed">
            Data Scientist: dbt stack, driving theory exam success prediction
          </p>
          <span
            class="inline-block text-xs font-medium tracking-widest text-yellow-500 rounded bg-yellow-50 my-"
          >
            2020 - Currently
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
